
html {
    background-color: black;
    color: white;
}

div[role="main"] {
	position: relative;
}

aside {
	position: absolute;
	top: 0;
	left: 66%;
	width: 33%;

	font-size: 90%;
}

section {
	width: 65%
}

aside h2 {
	margin: 0;
}

/*
header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}
*/

header h1 {
	margin: 10px 0 10px 0;
}

.userStory {
	margin-bottom: 10px;
	position: relative;
	width: 30%;
}

.userStory.done {
	color:green;
}
.points {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 120%
	font-weight: bold;
}

.userStory h2 {
	font-size: 75%;
	padding: 0;
	margin: 0;
}

.userStory p {
	padding: 0;
	margin: 0;
	font-size: 70%;
}

.userStoryDone h2 {
        font-size: 75%;
        padding: 0;
        margin: 0;
}

.userStoryDone p {
        padding: 0;
        margin: 0;
        font-size: 70%;
}

#lastUpdate {
	position: absolute;
	top: 5px;
	right: 5px;
	font-size: 90%
}

#topSprintGraph {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 8px;
}

#sprintDaysLeft {
	position: absolute;
	right: 1em;
	top: 10px;
	font-size: 2em;
}

#sprintCard div {
	float: left;
	width: 50%;
}

#sprintCard hr {
	clear: both;
}

#sprintCard label {
	font-weight: bold;
}

#quote {
	clear: both;
	font-size: 140%;
	border-left: 3px solid #ccc;
	padding-left: 7px;
	font-style: italic;
}

.post-it {
	position: relative;
	background:#fefabc;
	padding:15px;
	font-family: 'Gloria Hallelujah', cursive;
	font-size:15px;
	color: #000;
	width:200px; 

	-moz-transform: rotate(7deg);
	-webkit-transform: rotate(7deg);
	-o-transform: rotate(7deg);
	-ms-transform: rotate(7deg);
	transform: rotate(7deg);

	box-shadow: 0px 4px 6px #333;
	-moz-box-shadow: 0px 4px 6px #333;
	-webkit-box-shadow: 0px 4px 6px #333;

}

.sprintGraph div {
	height: 8px;
	float: left;
	margin: 0;
	padding: 0;
	text-indent: -9999em;
}

.sprintGraph .todo {
	background-color: red;
}

.sprintGraph .progress {
	background-color: #F7DE2E;
}

.sprintGraph .done {
	background-color: #569515;
}

.servers div {
	margin-bottom: 4px;
	padding: 7px;
	text-align: center;
	font-variant: small-caps;
}

.servers .running {
	background-color: rgba(86, 149, 21, 0.7);
}

.servers .down {
	background-color: rgba(255, 0, 0, 0.7);
}

.ciBuilds .build {
	float: left;
	width: 45%;
	padding: 1.5%;
	text-align: center;
	margin-bottom: 4px;
	font-variant: small-caps;
}

.ciBuilds .build:nth-child(even) {
	margin-right: 2%;
}

.ciBuilds .build:nth-child(odd) {
	margin-left: 2%;
}

.build.success {
	background-color: rgba(86, 149, 21, 0.7);
}

.build.down  {
	background-color: rgba(255, 0, 0, 0.7);
}

.build.building {
	-webkit-animation: pulsate 2s ease-out;
	-webkit-animation-iteration-count: infinite; 
}

@-webkit-keyframes pulsate {
	0% { background-color: rgba(0, 0, 0, 0); }
	50% { background-color: rgba(86, 149, 21, 0.7); }
	100% { background-color: rgba(0, 0, 0, 0); }
}

.build.unstable {
	-webkit-animation: unstable 2s ease-out;
	-webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes unstable {
	0% { background-color: rgba(86, 149, 21, 0.7); }
	50% { background-color: rgba(249, 212, 35, 0.7); }
	100% { background-color: rgba(86, 149, 21, 0.7); }
}


